body {
 background-color: #E894B5;
 font-family: sans-serif;
}

h1 {
  width: 100%;
  margin: auto;
  text-align:center;
  padding-top: 1em;
  padding-bottom: 1em;
}

svg {
  display: block;
  width: 100%;
  margin: auto;
}

p {
  width: 18em;
  margin: auto;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}

.glink {
  text-align:center;
}
